div.zFilter > div > div > div.sapUiRFL {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
}

div.zLangsTable th{
	vertical-align: middle;
}

span.zPosition {
	text-align: left;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 50px;
}

button.zNoBorder span {
    border: 0px;
}

button.yellowButton span.sapMBtnInner.sapMBtnEmphasized{
	background-color: #d1c40a;
    border-color: #d1cf0a;
}

button.blueButton span.sapMBtnInner{
	background-color: #0a6ed1;
    border-color: #0a6ed1;
	color: white;
}