div.zFilter > div > div > div.sapUiRFL {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	
}

div.zLangsTable th{
	vertical-align: middle;
}

label.zPosition {
    margin-left: 50px;
}